<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="playMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ cardgameService.judging ? 'You are judging!' : cardgameService.judge?.name + " is judging!"}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6>
        <button ion-button block color="orange_card" [hidden]="!cardgameService.judging">Ponder This Card: <strong>{{ cardgameService.matchingCard?.name }}</strong></button>
        <button ion-button block color="orange_card" [hidden]="cardgameService.judging">Match This Card: {{ cardgameService.matchingCard?.name }}</button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center [hidden]="cardgameService.judging || cardgameService.submitted">
      <ion-col col-12 col-md-8>
        <button style="height:13vmin; margin-top:2vmin" ion-button block color="red_card" *ngFor="let card of cardgameService.cardsInHand" (click)="cardgameService.submitCard(card.pk)">
          {{ card.name }} {{ card.status }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center [hidden]="!cardgameService.submittedCard">
      <ion-col col-12 col-md-8>
        <button style="height:13vmin" ion-button block color="red_card">You Submitted: {{ cardgameService.submittedCard?.name }}</button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center [hidden]="!cardgameService.judging || !cardgameService.allPlayersSubmitted">
      <ion-col col-12 col-md-8>
        <button ion-button block color="red_card" *ngFor="let card of cardgameService.submittedCards" (click)="cardgameService.pickCard(card.pk)">
          {{ card.name }} {{ card.status }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center [hidden]="cardgameService.submittedCards || cargameService.submitted">
      <ion-col col-12 col-md-2 text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center [hidden]="!cardgameService.submitted || cardgameService.allPlayersSubmitted">
      <ion-col col-12 col-md-8>
        <ion-label text-center>
          Waiting for Players to Submit Cards!
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-item-group>
      <ion-item *ngFor="let player of cardgameService.players">
        <ion-icon name="person" item-start color="danger"></ion-icon>
        <ion-label>{{ player.name }}: {{ player.status }}</ion-label>
        <ion-note item-end>{{ player.score }} points</ion-note>
      </ion-item>
    </ion-item-group>
  </ion-grid>

</ion-content>
