<ion-header>
  <ion-navbar>
    <ion-title>Cardgame: {{ cardgameService.gameCode }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [hidden]="!cardgameService.player">Welcome, {{ cardgameService.player?.name }}</ion-list>
  <ion-list [hidden]="cardgameService.judging || cardgameService.submitted">
    <button ion-item *ngFor="let card of cardgameService.cardsInHand" (click)="cardgameService.submitCard(card.pk)">
      {{ card.name }} {{ card.status }}
    </button>
  </ion-list>
  <ion-list [hidden]="!cardgameService.judging || !cardgameService.allPlayersSubmitted">
    <button ion-item *ngFor="let card of cardgameService.submittedCards" (click)="cardgameService.pickCard(card.pk)">
      {{ card.name }} {{ card.status }}
    </button>
  </ion-list>
  <h3>Match This Card: {{ cardgameService.matchingCard?.name }}</h3>
  <h3>The Judge Is: {{ cardgameService.judging ? 'You!' : cardgameService.judge?.name}}</h3>
  <h3 [hidden]="!cardgameService.submittedCard">You Submitted: {{ cardgameService.submittedCard?.name }}</h3>
  <h3>The Players Are:</h3>
  <ion-list>
    <button ion-item *ngFor="let player of cardgameService.players">
      {{ player.name }}: {{ player.status }} : {{ player.score }} points
    </button>
  </ion-list>
  <h3>All Players Submitted? {{ cardgameService.allPlayersSubmitted }}</h3>
</ion-content>
