<ion-header>
  <ion-navbar>
    <ion-title>Join a Game</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 text-center><h2>Join a Game!</h2></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-6>
        <form [formGroup]="joinForm" (ngSubmit)="joinGame(joinForm.value)">

          <ion-item>
            <ion-label>Enter Game Code</ion-label>
            <ion-input formControlName="gameCode" type="text" autocomplete="off" #gameCodeInput></ion-input>
          </ion-item>

          <ion-item *ngIf="!joinForm.controls.gameCode.valid  && joinForm.controls.gameCode.dirty" text-wrap>
            <p [hidden]="!joinForm.controls.gameCode.errors?.minlength">The game code must be at least 4 characters.</p>
            <p [hidden]="!joinForm.controls.gameCode.errors?.maxlength">The game code must be no more than 4 characters.</p>
            <p [hidden]="!joinForm.controls.gameCode.errors?.gameCodeInvalid">I am sorry, but that game code doesn't exist.</p>
          </ion-item>

          <ion-item [hidden]="!joinForm.controls.gameCode.valid">
            <ion-label>Enter Your Name</ion-label>
            <ion-input formControlName="playerName" type="text" autocomplete="off" #playerNameInput></ion-input>
          </ion-item>

          <ion-item *ngIf="!joinForm.controls.playerName.valid  && joinForm.controls.playerName.dirty" text-wrap>
            <p [hidden]="!joinForm.controls.playerName.errors?.minlength">Please enter a valid name (must be at least two letters).</p>
            <p [hidden]="!joinForm.controls.playerName.errors?.maxlength">Please enter a valid name (must be less than 11 letters).</p>
            <p [hidden]="!joinForm.controls.playerName.errors?.playerNameTaken">I am sorry, but that name is already taken.</p>
          </ion-item>

          <button ion-button type="submit" large block [hidden]="!joinForm.controls.playerName.valid">Join Game</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
